@charset "utf-8";
/*웹폰트*/
@font-face { font-family: 'TmonMonsori'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-3Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'RoxboroughCF'; src: url('../Webfont/RoxboroughCF-BoldItalic.woff') format('woff'); font-weight: 700; font-style: italic; }
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,700;1,900&display=swap');



body {height:50000px; color: #000; pointer-events: none;}

.pos{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.f1 {
    font-family: 'RoxboroughCF', sans-serif;
    font-weight: 700;
    font-style: italic;
}
.f2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.f3 {
    font-family: 'Roboto', sans-serif;
}

.va {
    vertical-align: 0.3vw;
}

/*스크롤*/
.scroll {position:fixed;left:0;top:0;width:4vw;height:4vw;background:rgba(0,0,0,0.5);z-index:1000;}
/*백그라운드*/
#bck {width:100%;height:100%;position:fixed;left:0;top:0; background-color: #e6e6e5; pointer-events: none;}
#bck img {width:100%;height:100%;display:block;}
/*section1*/
/*mtxt1*/
.mtxt1 {position:fixed;left:50%;top:50%;width:100vw;height:100vh;transform: translate(-50%,-50%);z-index:40; pointer-events: none;
background: -webkit-linear-gradient(270deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

.mtxt1 a {
    cursor: pointer;
}
/*mtxt2*/
.mtxt2 {position:fixed;left:50%;top:50%;transform:translate(-50%,-50%);z-index:30; }
.mtxt2 div {font-size:4vw;text-align:center;white-space: nowrap; font-family: 'S-CoreDream-3Light';}

.img {position: absolute;animation: rotate_image 4s linear infinite;transform-origin: 50% 50%; cursor: pointer;}
@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}

.focustxt span {
    font-size:3vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.skillbox {
    position: fixed; width: 10vw; height: 13.5vw; background-color: #000; border-radius: 2vw;
}

.skillbox img {
    position: absolute; width: 70%; left: 50%; top: 40%; transform: translate(-50%, -50%);
}

.skillbox p {
    position: absolute; width: 100%; left: 50%; top: 80%; transform: translate(-50%, -50%); text-align: center; font-size: 1.4vw; color: #fff; font-weight:400;
}

.contactbox {
    position: fixed; background-color: #171717;
}
/* .contactbox {
    position: fixed; width: 100vw; height: 100vw; background-color: #181818; left: 50%; top: 50%; transform: translate(-50%, -50%);
} */

/*사이트 소개*/
.site_wrap {width: 500vw; height: 100vh; display: flex; position:fixed; top:50%; left:50%; padding: 10%;transform: translateY(-50%); z-index: 9999;}

.site_wrap .site {width: 100vw; height: 100%; margin-right:50vw;position:relative;left:50%;top:50%;transform:translate(-50%,-50%);}
.site_wrap .sw_left {
    float: left; width: 45%; margin-right: 5%; height: auto; background: rgba(0,0,0,0); 
    padding: 5%; box-sizing: border-box;position:relative;left:18%;top:50%;transform:translate(-50%,-50%);
}
.site_wrap .sw_left span {font-size: 1vw; font-weight: bold;}
.site_wrap .sw_left h2 {white-space:nowrap;font-size: 4vw; padding-bottom: 5%;font-family: 'TmonMonsori';position:relative;text-transform:uppercase; color: #000;}
.site_wrap .sw_left p {font-size: 1vw; font-weight: 100;font-family: 'S-CoreDream-3Light';}
.site_wrap .sw_left p span {position:relative;display:inline-block;cursor:pointer;}
.site_wrap .sw_left p span::before {content:"";position:absolute;left:0;bottom:0;border-radius:2%;width:100%;height:4px;background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);}
.site_wrap .sw_left p span::after {text-align:center;font-family: 'S-CoreDream-3Light';content:"웹에서 표준적으로 사용되는 기술 혹은 규칙";position:absolute;top:-60px;left:50%;background:#E04A6D;color:#000;width:11vw;padding:10px;opacity:0;border-radius:2px;transform: translateX(-50%);transition:all 0.3s ease;font-size:0.8vw;}
.site_wrap .sw_left p span:hover::after {opacity:1;}

.site_wrap .site:nth-child(2) .sw_left p span::after{text-align:center;font-family: 'S-CoreDream-3Light';content:"접속하는 디바이스에 따라 반응하는 디자인";position:absolute;top:-200%;left:55%;background:#E04A6D;color:#000;width:11vw;padding:5%;opacity:0;border-radius:5%;transition:all 0.3s ease;font-size:0.8vw;}
.site_wrap .site:nth-child(2) .sw_left p span:hover::after {opacity:1;}

.site_wrap .site:nth-child(3) .sw_left p span::after{text-align:center;font-family: 'S-CoreDream-3Light';content:"모든 브라우저에 다른 기종의 운용체계나 HTML 렌더링 기술로 웹페이지를 제작하는 방법";position:absolute;top:-65px;left:50%;background:#E04A6D;color:#000;width:11vw;padding:5%;opacity:0;border-radius:5%;transition:all 0.3s ease;font-size:0.8vw;}
.site_wrap .site:nth-child(3) .sw_left p span:hover::after {opacity:1;}

.site_wrap .sw_left a {z-index:1000;font-family: 'S-CoreDream-3Light';color: #E04A6D; text-transform: uppercase; position: relative; display: block; margin-top: 5vw;}
.site_wrap .sw_left a:after {
    content: ''; width: 80%; height: 1px; background: #E04A6D;
    position: absolute; right: 0; top: 50%;
}
.site_wrap .sw_left a span {width:1.5vw;height:1.5vw;background:#E04A6D;position:absolute;left:17%;top:10%;border-radius:50%;}


.site_wrap .sw_right {float: left; width: 45%;position:relative;left:10%;top:50%;transform:translate(-50%,-50%); }
.site_wrap .sw_right img {width: 200%;}

.sw_right2 {float: left; width: 45%; transition:all 1s ease;opacity:100%;position:relative;left:31%;top:50%;transform:translate(-50%,-50%); }
.sw_right2 img {width: 290%; position:absolute;left:70%;top:57%;transform: translate(-50%,-50%);}
/* .right2_sub {width:10vw;height:10vw;position:absolute;left:96%;top:57%;transform: translate(-50%,-50%);}
.right2_sub img {width:100%;display:block;}
.right2_sub2 {width:20vw;height:20vw;position:absolute;left:64%;top:56%;transform: translate(-50%,-50%);}
.right2_sub2 img {width:100%;display:block;} */

.sw_right3 {float: left; width: 45%;  opacity:100%;transition:all 1s ease; position:relative;left:31%;top:50%;transform:translate(-50%,-50%);}
.sw_right3 img {width: 260%;position:absolute;left:60%;top:61%;transform: translate(-50%,-50%);}
/* .right3_sub {width:30vw;position:absolute;left:68%;top:61%;transform: translate(-50%,-50%);}
.right3_sub img {width:100%;display:block;}
.right3_sub2 {width:10vw;height:10vw;position:absolute;left:94%;top:61%;transform: translate(-50%,-50%);}
.right3_sub2 img {width:100%;display:block;} */

.sw_right4 {float: left; width: 45%;  opacity:100%;transition:all 1s ease; position:relative;left:31%;top:50%;transform:translate(-50%,-50%);}
.sw_right4 img {width: 260%;position:absolute;left:60%;top:61%;transform: translate(-50%,-50%);}

/*사이트 백그라운드*/
.site_background {position: fixed;
    left: 50%;
    top: 50%;
    transform: translateY(-40%);
    font-size: 40vw;
    line-height: 40vw;
    font-family: 'TmonMonsori';
    color: #454545;
    text-transform: uppercase;}

  /*스킬부분*/
.skill_wrap {position:fixed;left:0;top:0;z-index:15;}

.skill {position:relative;width:100vw;height:100vh;top:0%;}
.skill2 {position:relative;width:100vw;height:100vh;top:0%;margin-top:70vh;}
.skill3 {position:relative;width:100vw;height:100vh;top:0%;margin-top:70vh;}
.skill4 {position:relative;width:100vw;height:100vh;top:0%;margin-top:70vh;}
.skill5 {position:relative;width:100vw;height:100vh;top:0%;margin-top:70vh;}
.skill_left img {width:100%;display:none;}
.skill_right h2 {font-size:1vw;color:#000;font-family: 'TmonMonsori';text-align:center;color:#E04A6D;
}
.skill_right .s1 {position:absolute;left:20vw;}
.skill_right .s1 span {font-size:12vw;font-family: 'TmonMonsori';position:relative;}
.number_re {opacity:0%;transition:all 2s ease;}
.number_active {opacity:100%;}

.skill .skill_left {width:40%;height:40%;right:15%;top:20%;float:right;position:relative;}
.skill .skill_right {width:45%;height:30%;right:10%;top:60%;float:left;position:relative;}

.skill2 .skill_left {width:40%;height:40%;left:15%;top:20%;float:left;position:relative;}
.skill2 .skill_right {width:45%;height:30%;right:10%;top:60%;float:right;position:relative;}

.skill3 .skill_left {width:40%;height:40%;right:15%;top:20%;float:right;position:relative;}
.skill3 .skill_right {width:45%;height:30%;right:10%;top:60%;float:left;position:relative;}

.skill4 .skill_left {width:40%;height:40%;left:15%;top:20%;float:left;position:relative;}
.skill4 .skill_right {width:45%;height:30%;right:10%;top:60%;float:right;position:relative;}

.skill5 .skill_left {width:40%;height:40%;left:15%;top:20%;float:right;position:relative;}
.skill5 .skill_right {width:45%;height:30%;right:10%;top:60%;float:left;position:relative;}


.skill_slide {
	color: #000;
    -webkit-text-fill-color: transparent;    
    -webkit-text-stroke: 2px #323232;	
    font-family: 'TmonMonsori';
    transform:translate(-50%,-50%);
    font-size:17vw;position:absolute;left:50%;top:50%;white-space:nowrap;
	transition: background-position .8s cubic-bezier(.61, .09, .29, 1);
	/* -webkit-background-clip: text; */
	background-image: linear-gradient(180deg, #fff, #fff 50%, transparent 0);
	 background-size: 100% 200%;
	 background-position: 0 -100%;
}
.skill_slide:hover { background-position: 0 0%;} 

/*텍스트 애니메이션*/
.text_1 {opacity:0%;transition:all 0.4s ease;}
.text_2 {opacity:0%;transition:all 0.6s ease;}
.text_3 {opacity:0%;transition:all 0.8s ease;}
.text_4 {opacity:0%;transition:all 1s ease;}

.text_5 {opacity:0%;transition:all 0.4s ease;}
.text_6 {opacity:0%;transition:all 0.6s ease;}
.text_7 {opacity:0%;transition:all 0.8s ease;}
.text_8 {opacity:0%;transition:all 1s ease;}

.text_9 {opacity:0%;transition:all 0.4s ease;}
.text_10 {opacity:0%;transition:all 0.6s ease;}
.text_11 {opacity:0%;transition:all 0.8s ease;}
.text_12 {opacity:0%;transition:all 1s ease;}
.text_active {opacity:100%;}

/*CSS 뒷부분*/
.css_back1 {position:fixed;left:0;top:50%;transform:translateY(-50%);width:60%;}
.css_back1 img {width:100%;}
.css_back2 {position:fixed;left:0;top:50%;transform:translateY(-50%);width:100%;z-index:10;}
.css_back2 img {width:100%;}
.css_back3 {position:fixed;left:0;top:50%;transform:translateY(-50%);width:60%;z-index:10;}
.css_back3 img {width:100%;}
.css_back4 {position:fixed;left:0;top:50%;transform:translateY(-50%);;width:60%;z-index:0;}
.css_back4 img {width:100%;}

.css1_text {position:fixed;left:0;top:29%;transform:translateY(-50%);width:25%;}
.css1_text p {font-size:1vw;font-weight:bold;padding-bottom:5%;}
.css1_text h2 {font-size:4vw;font-family: 'TmonMonsori';white-space:nowrap;line-height:5vw;padding-bottom: 5%;}
.css1_text span {font-family: 'S-CoreDream-3Light';font-size:1vw;}
.ani_right {width: 35vw; height: 35vw;position:fixed;left:0;top:50%;transform:translateY(-50%);}

.css_back2_1 {position:fixed;left:10%;top:0;width:100%;height:100%;}
.css_back2_1 img {width:80%;position:absolute;left:50%;top:50%;transform: translate(-50%,-50%);}
.css_back2_2 {position:fixed;left:10%;top:0;width:100%;height:100%;}
.css_back2_2 img {width:80%;position:absolute;left:50%;top:50%;transform: translate(-50%,-50%);}
.css_back2_3 {position:fixed;left:10%;top:0;width:100%;height:100%;}
.css_back2_3 img {width:80%;position:absolute;left:50%;top:50%;transform: translate(-50%,-50%);}
.css_back2_4 {position:fixed;left:10%;top:0;width:100%;z-index:10;height:100%;}
.css_back2_4 img {width:80%;position:absolute;left:50%;top:50%;transform: translate(-50%,-50%);}

.ani_right2 { width: 35vw; height: 35vw;position:fixed;left:100%;top:50%;transform:translateY(-50%);}
.ani_text_2 {position:fixed;left:0;top:73%;transform:translateY(-50%);width:25%;}
.ani_text_2 p {font-size:1vw;font-weight:bold;padding-bottom:5%;padding-bottom:5%;}
.ani_text_2 h2 {font-size:4vw;font-family: 'TmonMonsori';white-space:nowrap;line-height:5vw;padding-bottom: 5%;}
.ani_text_2 span {font-family: 'S-CoreDream-3Light';font-size:1vw;}



.css_back3_1 {position:fixed;top:0;width:100%;height:100%;}
.css_back3_1 img {width:90%;height:100%;position:absolute;left:50%;top:50%;transform: translate(-50%,-50%);}
.css_back3_2 {position:fixed;top:0;width:100%;height:100%;}
.css_back3_2 img {width:90%;height:100%;position:absolute;left:50%;top:50%;transform: translate(-50%,-50%);}
.css_back3_3 {position:fixed;top:0;width:100%;height:100%;z-index:10;}
.css_back3_3 img {width:90%;height:100%;position:absolute;left:50%;top:50%;transform: translate(-50%,-50%);}
.css_back3_4 {position:fixed;top:0;left:0;z-index:10;width:100%;height:100%;}
.css_back3_4 img {width:25%;height:35%;position:absolute;left:0%;bottom:0%;}
.css_back3_5 {position:fixed;top:0;width:100%;z-index:10;height:100%;}
.css_back3_5 img {width:25%;height:35%;position:absolute;top:10%;}


.ani_right3 { width: 35vw; height: 35vw;position:fixed;left:0;top:50%;transform:translateY(-50%);}
.ani_text_3 {position:fixed;left:0;top:29%;transform:translateY(-50%);width:25%;}
.ani_text_3 p {font-size:1vw;font-weight:bold;padding-bottom:5%;}
.ani_text_3 h2 {font-size:4vw;font-family: 'TmonMonsori';white-space:nowrap;line-height:5vw;padding-bottom: 5%;}
.ani_text_3 span {font-family: 'S-CoreDream-3Light';font-size:1vw;}


/*컨택 애니메이션*/
#section2 .room {width:100vw;height:100vh;position:fixed;left:0;top:0;overflow:hidden;}
#section2 .room .weather {width:100vw;height:100vh;position:relative;background:#000;display:none;}
#section2 .room .weather .we_moon {position:absolute;right:10%;top:12%;transform: translate(-50%,-50%);}
#section2 .room .weather .we_star {position:absolute;right:3%;top:12%;transform: translate(-50%,-50%);}
#section2 .room .weather .we_sun {position:absolute;right:10%;top:100%;transform: translate(-50%,-50%);}


#section2 .room .bath {width:100vw;height:75vh;position:absolute;left:0;bottom:0;background:#E04A6D;display:none;}
#section2 .room .bath .r_desk {position:absolute;left:28%;top:50%;transform: translate(-50%,-50%);}
#section2 .room .bath .r_subdesk {position:absolute;left:75%;top:34%;transform: translate(-50%,-50%);}
#section2 .room .bath .r_bed {position:absolute;left:55%;top:50%;transform: translate(-50%,-50%);}
#section2 .room .bath .r_bedsheet {position:absolute;left:55%;top:50%;transform: translate(-50%,-50%);z-index:1;}
#section2 .room .bath .r_tree {position:absolute;left:80%;top:80%;transform: translate(-50%,-50%);}
#section2 .room .bath .r_wardrobe {position:absolute;left:55%;top:17%;transform: translate(-50%,-50%);}
#section2 .room .bath .r_carpet {position:absolute;left:55%;top:80%;transform: translate(-50%,-50%);}
#section2 .room .bath .r_lamp {position:absolute;left:84%;top:40%;transform: translate(-50%,-50%);}


#section2 .room .character {display:none;}
#section2 .room .character .sleep {position:absolute;left:55%;top:53%;transform: translate(-50%,-50%);}
#section2 .room .character .awake {position:absolute;left:55%;top:53%;transform: translate(-50%,-50%);}
#section2 .room .character .cloth {position:absolute;left:55%;top:53%;transform: translate(-50%,-50%);}
#section2 .room .character .tfw {position:absolute;left:70%;top:26%;transform: translate(-50%,-50%);}

/*이메일*/
.shwogur2000 {z-index:5;font-size:0vw;position:fixed;left:60%;top:30%;transform:translate(-50%,-50%);font-family: 'TmonMonsori';}
.shwogur2000 a {position:relative;transition:all 0.01s ease-in-out;}
.shwogur2000 a::after {width:0%;height:10%;background:#E04A6D;content:"";position:absolute;bottom:-15%;left:0;transition:all 1s ease-in-out;}
.shwogur2000:hover a::after {width:100%;}

.navercom {z-index:5;font-size:0vw;position:fixed;left:60%;top:70%;transform:translate(-50%,-50%);font-family: 'TmonMonsori';}
.navercom a {position:relative;transition:all 0.01s ease-in-out;}
.navercom a::after {width:0%;height:10%;background:#E04A6D;content:"";position:absolute;bottom:-15%;left:0;transition:all 1s ease-in-out;}
.navercom:hover a::after {width:100%;}

.send {z-index:5;position:fixed;left:10%;bottom:10%;width:30vw;height:auto;}
.send img {position:absolute;left:-10%;top:0;width:13%;left:-20%;}
.text_send a {font-size:1.5vw;position:relative;}
.text_send a .text_box {display:inline-block;overflow:hidden;height:26px;position:absolute;right:-65%;top:25%;}
.text_send a .text_box .text_slide {position:relative;}
.text_send a p {display:inline-block;}
.text_send a span {display:block;bottom:10px;position:relative;}

/*이메일 배경*/
.send_background1 {position:fixed;width:100%;height:100%;left:0;top:0;}
.send_background1 img {width:100%;height:100%;}
.send_background2 {position:fixed;width:100vw;height:100vh;left:0;top:0;}
.send_background2 img {width:100%;height:100%;}
.send_background3 {position:fixed;width:100%;height:100%;left:0%;top:0;z-index:10;}
.send_background3 img {width:100%;height:100%;}
.send_background4 {position:fixed;width:100%;height:100%;left:0%;top:0;z-index:10;}
.send_background4 img {width:100%;height:100%;}

/*로딩*/
.progress { 
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index:500;
}
.progress-bar { 
    border-top: 10px solid rgb(255, 255, 255);
    position: absolute;
    top:70%;
    width: 0%;
}
.progress-text {
   font-family: 'TmonMonsori';
    font-size: 1vw;
    margin-top: 10px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    color: rgb(224, 74, 88);
}
.progress-complete .progress-bar {
    border-top-color: rgb(224, 74, 88);
}

