/*화살표 애니메이션*/
.box3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
   background: rgba(255,114,96,1);
  background: linear-gradient(45deg, 
    rgba(255,114,96,1) 0%, 
    rgba(255,114,96,1) 14%, 
    rgba(252,210,113,1) 54%, 
    rgba(252,210,113,1) 61%, 
    rgba(102,176,102,1) 93%, 
    rgba(96,135,134,1) 100%);
    border-radius:50%;}

.logo {
  width: 200px;
  height: 200px;
  position: relative;
}

.logo svg {
  position: absolute;
  top: 45%; left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
}

.logo div {
  position: absolute;
  width: 160px;
  height: 160px;
  margin: 20px;
  border-radius: 14%;
  transform: rotate(45deg);
  mix-blend-mode: multiply;
  animation: 2s cubic-bezier(0.66, -0.7, 0.27, 1.6) infinite;
}

.logo div:nth-child(1) {
  background-color: #54ffff;
  animation-name: rotate-1;
}

.logo div:nth-child(2) {
  background-color: #ff73ff;
  animation-name: rotate-2;
}

.logo div:nth-child(3) {
  background-color: #ffffa2;
  animation-name: rotate-3;
}

@keyframes rotate-1 {
  to { transform: rotate(135deg); }
}

@keyframes rotate-2 {
  to { transform: rotate(225deg); }
}

@keyframes rotate-3 {
  to { transform: rotate(315deg); }
}

/*apple whatch*/
.box2 {
 background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,0) 41%, rgba(31,242,183,1) 84%);
  align-items: center;
  justify-content: center;
  position:absolute;left:50%;top:50%;transform: translate(-50%,-50%);
  border-radius:50%;
  width:100%;height:100%;
}
.watch-facebox{
	 position:absolute;left:50%;top:50%;transform: translate(-50%,-50%);
}
.watch-face {
  height: 125px;
  width: 125px;
  animation: pulse 4s cubic-bezier(0.5, 0, 0.5, 1) alternate infinite;
 
}

.circle {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  position: absolute;
  mix-blend-mode: screen;
  transform: translate(0, 0);
  animation: center 6s infinite;
}

.circle:nth-child(odd) {
  background: #61bea2;
}

.circle:nth-child(even) {
  background: #529ca0;
}

.circle:nth-child(1) {
  animation: circle-1 4s ease alternate infinite;
}

.circle:nth-child(2) {
  animation: circle-2 4s ease alternate infinite;
}

.circle:nth-child(3) {
  animation: circle-3 4s ease alternate infinite;
}

.circle:nth-child(4) {
  animation: circle-4 4s ease alternate infinite;
}

.circle:nth-child(5) {
  animation: circle-5 4s ease alternate infinite;
}

.circle:nth-child(6) {
  animation: circle-6 4s ease alternate infinite;
}

@keyframes pulse {
  0% {
    transform: scale(.15) rotate(180deg);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes circle-1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-35px, -50px);
  }
}

@keyframes circle-2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(35px, 50px);
  }
}

@keyframes circle-3 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-60px, 0);
  }
}

@keyframes circle-4 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(60px, 0);
  }
}

@keyframes circle-5 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-35px, 50px);
  }
}

@keyframes circle-6 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(35px, -50px);
  }
}
/*social animation*/
.box {
  width: 100%; 
  height: 100%;
  overflow: hidden;
  border-radius:50%;
  background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(10,255,0,1) 94%);
}

.wrapper {
  width: 100%;
  perspective: 800;
}

.cube {
  position: relative;
  top: 160px;
  margin: 0 auto;
  height: 200px;
  width: 200px;

  animation : spin 5s infinite linear;
  transform-style: preserve-3d;
}

@keyframes spin {
  from { transform: rotateY(0) rotateX(0); }
  to   { transform: rotateY(-360deg) rotateX(360deg); }
}

.cube > div {
  position: absolute;
  height: 200px;
  width: 200px;
  border: 2px solid #36e83c;
  opacity: .8;
}

.cube > div:hover {
  opacity: 1;
  transition: opacity .3s linear;
}

.one { 
  transform: rotateX(90deg) translateZ(100px); 
  
  animation: oneba 2s ease alternate infinite;
}


.two { 
  transform: translateZ(100px); 
  animation: oneba 2s ease alternate infinite;
}

.three { 
  transform: rotateY(90deg) translateZ(100px); 
  animation: oneba 2s ease alternate infinite;

}

.four { 
  transform: rotateY(180deg) translateZ(100px); 
  animation: oneba 2s ease alternate infinite;
}

.five { 
  transform: rotateY(-90deg) translateZ(100px); 
  animation: oneba 2s ease alternate infinite;
}

.six { 
  transform: rotateX(-90deg) translateZ(100px); 
  animation: oneba 2s ease alternate infinite;
}

@keyframes oneba {
  0% { background-color: #000;border-color: #36e83c; }
  100%   { background-color: #36e83c;border-color: #000; }
}



/*scss 애니메이션*/
.deck {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  -webkit-backface-visibility: hidden;
  font-family: 'Ubuntu', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: center; }

.deck__item {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: .3em;
  border: 0.1em solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.3), inset 0 6em 6em rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.3), inset 0 6em 6em rgba(255, 255, 255, 0.1);
  -webkit-transform-origin: 90% 92%;
          transform-origin: 90% 92%;
  -webkit-transition: .3s;
  transition: .3s; }
  .deck__item:hover ~ .deck__item {
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg); }

.deck__item:last-of-type:after {
  content: "";
  position: absolute;
  left: 90%;
  top: 92%;
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  background: white;
  margin: -.6em 0 0 -.6em;
  -webkit-box-shadow: inset 0 1px 1px white, inset 0 -0.3em 0.2em #dddcdb, 0 0 0.6em rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px 1px white, inset 0 -0.3em 0.2em #dddcdb, 0 0 0.6em rgba(0, 0, 0, 0.2); }

.deck__item:last-of-type:before {
  content: "";
  position: absolute;
  right: .4em;
  bottom: .9em;
  width: 1.1em;
  height: .15em;
  background: silver;
  background: rgba(0, 0, 0, 0.1);
  z-index: 2; }

.deck__link {
  text-decoration: none;
  display: block;
  color: white;
  color: rgba(255, 255, 255, 0.8); }

.deck__icon {
  font-family: 'FontAwesome', sans-serif;
  font-size: 4em;
  color: black;
  color: rgba(0, 0, 0, 0.6);
  display: block;
  margin: .5em auto; }

.deck__item--facebook {
  background: #3b5998;
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg); }

.deck__item--github {
  background: #4183c4;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg); }

.deck__item--twitter {
  background: #00a0d1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg); }

.deck__item--linkedin {
  background: #0e76a8;
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg); }

.deck__item--pinterest {
  background: #910101;
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg); }

.deck__item--googleplus {
  background: #db4a39;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg); }

/*# sourceMappingURL=animationcode.css.map */