@charset "utf-8";

/*웹폰트*/
@font-face {
    font-family: 'TmonMonsori';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RoxboroughCF';
    src: url('../Webfont/RoxboroughCF-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,700;1,900&display=swap');



body {
    height: 50000px;
    color: #000;
    pointer-events: none;
}

.pos {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.f1 {
    font-family: 'RoxboroughCF', sans-serif;
    font-weight: 700;
    font-style: italic;
}

.f2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.f3 {
    font-family: 'Roboto', sans-serif;
}

.va {
    vertical-align: 0.05vw;
}

/*스크롤*/
.scroll {
    position: fixed;
    left: 0;
    top: 0;
    width: 4vw;
    height: 4vw;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/*백그라운드*/
#bck {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #eee;
    pointer-events: none;
}

#bck img {
    width: 100%;
    height: 100%;
    display: block;
}

/*section1*/
/*mtxt1*/
.mtxt1 {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    z-index: 40;
    pointer-events: none;
    background: -webkit-linear-gradient(270deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

.mtxt1 a {
    cursor: pointer;
}

/*mtxt2*/
.mtxt2 {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
}

.mtxt2 div {
    font-size: 4vw;
    text-align: center;
    white-space: nowrap;
    font-family: 'S-CoreDream-3Light';
}

.img {
    position: absolute;
    animation: rotate_image 4s linear infinite;
    transform-origin: 50% 50%;
    cursor: pointer;
}

@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}

.focustxt span {
    font-size: 3vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.skillbox {
    position: fixed;
    width: 10vw;
    height: 13.5vw;
    background-color: #000;
    border-radius: 2vw;
}

.skillbox img {
    position: absolute;
    width: 7vw;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.skillbox p {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.4vw;
    color: #fff;
    font-weight: 400;
}

.contactbox {
    position: fixed;
    background-color: #171717;
}

/* #mail {
    position: absolute;
    white-space: nowrap;
}

#mail::before {
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-split);
    width: 50%;
    color: #fff;
    overflow: hidden;
    transition: width 0.5s ease;
} */


/*로딩*/
.progress {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 500;
}

.progress-bar {
    border-top: 10px solid rgb(255, 255, 255);
    position: absolute;
    top: 70%;
    width: 0%;
}

.progress-text {
    font-family: 'TmonMonsori';
    font-size: 1vw;
    margin-top: 10px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    color: #fff;
}

.progress-complete .progress-bar {
    border-top-color: #fff;
}